

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.1875rem;
  padding: 0.563rem 0;
  border-radius: 0.875rem;
  border: solid 0.14875rem #207198;
  background-color:  #e3f1fe;
  .icon { 
    width: 1.625rem;
    height: 1.625rem;
  }
  .text {
    width: 16.625rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #207198;
  }
  @media (max-width: 37.5rem) {
    padding: 0.938rem 0;
    gap: 1.875rem;
    .text {
      width: 14.625rem;
    }
  }
}