
.block {
  position: relative;
  display: flex;
  flex-direction: column;
  .label {
    margin-left: 0.875rem;
    font-size: 0.875rem;
    line-height: 183%;
    color: #207198;
  }
  .content {
    position: relative;
    display: flex;
    z-index: 10;
    .valid {
      border: 2.38px solid   #6fcf97;
    }
    .invalid {
      border: 2.38px solid  #ee5757;
    }
  }
  .error {
    position: absolute;
    margin-left: 0.875rem;
    bottom: -30%;
  }
  @media (max-width: 37.5rem) {
    .label {
      margin-left: 0;
      font-size: 1rem;
      line-height: 150%;
      letter-spacing: 0.03em;
    }
  }
}